## __author__ = 'niraj kumar'
## disallow files/folders in same directory as the .gitignore file

/video-segment/node_modules
/user/node_modules
/*/node_modules

# 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
